
<!DOCTYPE html 
      PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:html="http://www.w3.org/1999/xhtml" 
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"> 
    <head>
        <title>{appName}</title>
        <meta name="google" value="notranslate">
        <link rel="shortcut icon" href="./Pman.ico" type="image/vnd.microsoft.icon"/>
        
        
        <link rel="stylesheet" type="text/css" href="../../../../roojs1/css/roojs.css" />  
        <link rel="stylesheet" type="text/css" href="../../../../roojs1/css/xtheme-slate.css" />  
        
        
       
     </head>
    <body class="ytheme-gray">  
         <!--background:#F8ECB2;-->   
        
        
               
        <script type="text/javascript" src="../../../../roojs1/roojs-debug.js"></script>

        <script type="text/javascript">
            baseURL="baseURL" 
            rootURL="rootURL" 
            isDev="isDev"
            serverName="serverName" 
            appLang="lang"
            appName="appName"
            appNameShort="appNameShort"
            appLogo="appLogo"
            appOwnerCompanyId="company.id"
             
            AppLinkError="linkFail"
            AppTrackOnLoad="onloadTrack"
            
            showNewPass="showNewPass"
            allowSignup="allowSignup"
            
            logoPrefix="logoPrefix"
            
            AppModules="appModules"
            AppVersion="appVersion"
            appDisabled="appDisabled"
            uiConfig="uiConfig"
         
         
            Ext=Roo; // bc
            Roo.BLANK_IMAGE_URL =  rootURL + "/roojs1/images/gray/s.gif";
            Roo.rootURL = rootURL +'/roojs1/';
        </script>
         
         
        <!-- used by App.php in Builder - to enable loading of code/applicaiton on the fly
       
            <script type="text/javascript" src="{baseURL}/Builder/Code/{js}.js"></script>    
        {end:} 
            -->
            
        <!-- finally language.. -->   
             
               
        <script type="text/javascript">
            Pman = typeof(Pman) == 'undefined' ? {} : Pman;
            Pman.debug = true;
        </script>
               
               
        <div id="title" class=" logoblock">
             
            <div id="headerInformation">Preview of app</div>
            
            
        </div>
         
          
           
        <div id="mainlist" class="x-layout-inactive-content">
            <p>main body</p>
                
        </div>
          
    </body>
</html>
        